<h1>Initial Assignment:</h1>
<table align="center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of menu">
            <td>{{item.Name}}</td>
            <td>{{item.Category}}</td>
            <td>{{item.Price}}</td>
        </tr>
    </tbody>
</table>


<h1>Extended Bullet #1:</h1>
<table align="center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getByCategory('Dinner')">
            <td>{{item.Name}}</td>
            <td>{{item.Category}}</td>
            <td>{{item.Price}}</td>
        </tr>
    </tbody>
</table>


<h1>Extended Bullet #2:</h1>
<table align="center">
    <thead>
        <tr>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getUniqueCategories()">
            <td>{{item}}</td>
        </tr>
    </tbody>
</table>